{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ "<!-- Contact Section Start -->" | safeHTML }}
<section id="skills-section" class="pages skills-page">
	<div class="container">
		<div class="row skills-row">
			<div class="col-lg-6">
            {{ with $data.skills.languagesTitle }}<h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h2>{{ end }}
            {{ with $data.skills.languagesSubTitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">{{ . }}</p>{{ end }}

            {{ range $data.skills.languagesItem }}
            <div class="row skills-parts">
                <div class="block wow fadeInUp animated col-4 skill-item" data-wow-duration="400ms" data-wow-delay="600ms">
                    {{ with .title }}<h4 class="wow fadeInUp animated">{{ . }}</h4>{{ end }}
                </div>
                <div class="col">
                    <div class="progress-bar">
                        {{ with (dict "category" .category "level" .level "subtitle" .subtitle) }}<p class="{{ .category }}" style="width: {{ .level }}%">{{ .subtitle }}</p>{{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
	        </div>
			<div class="col-lg-6">
            {{ with $data.skills.dataTitle }}<h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h2>{{ end }}
            {{ with $data.skills.dataSubTitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">{{ . }}</p>{{ end }}

            {{ range $data.skills.dataItem }}
            <div class="row skills-parts">
                <div class="block wow fadeInUp animated col-4 skill-item" data-wow-duration="400ms" data-wow-delay="600ms">
                    {{ with .title }}<h4 class="wow fadeInUp animated">{{ . }}</h4>{{ end }}
                </div>
                <div class="col">
                    <div class="progress-bar">
                        {{ with (dict "category" .category "level" .level "subtitle" .subtitle) }}<p class="{{ .category }}" style="width: {{ .level }}%">{{ .subtitle }}</p>{{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
            </div>
	    </div>

		<div class="row skills-row">
			<div class="col-lg-6">
            {{ with $data.skills.opsTitle }}<h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h2>{{ end }}
            {{ with $data.skills.opsSubTitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">{{ . }}</p>{{ end }}

            {{ range $data.skills.opsItem }}
            <div class="row skills-parts">
                <div class="block wow fadeInUp animated col-4 skill-item" data-wow-duration="400ms" data-wow-delay="600ms">
                    {{ with .title }}<h4 class="wow fadeInUp animated">{{ . }}</h4>{{ end }}
                </div>
                <div class="col">
                    <div class="progress-bar">
                        {{ with (dict "level" .level "subtitle" .subtitle) }}<p class="ops" style="width: {{ .level }}%">{{ .subtitle }}</p>{{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
            </div>

			<div class="col-lg-6">
            {{ with $data.skills.devTitle }}<h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h2>{{ end }}
            {{ with $data.skills.devSubTitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">{{ . }}</p>{{ end }}

            {{ range $data.skills.devItem }}
            <div class="row skills-parts">
                <div class="block wow fadeInUp animated col-4 skill-item" data-wow-duration="400ms" data-wow-delay="600ms">
                    {{ with .title }}<h4 class="wow fadeInUp animated">{{ . }}</h4>{{ end }}
                </div>
                <div class="col">
                    <div class="progress-bar">
                        {{ with (dict "category" .category "level" .level "subtitle" .subtitle) }}<p class="{{ .category }}" style="width: {{ .level }}%">{{ .subtitle }}</p>{{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
	        </div>
	    </div>

		<div class="row skills-row">
			<div class="col-lg-6">
            {{ with $data.skills.methodTitle }}<h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h2>{{ end }}
            {{ with $data.skills.methodSubTitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">{{ . }}</p>{{ end }}

            {{ range $data.skills.methodItem }}
            <div class="row skills-parts">
                <div class="block wow fadeInUp animated col-4 skill-item" data-wow-duration="400ms" data-wow-delay="600ms">
                    {{ with .title }}<h4 class="wow fadeInUp animated">{{ . }}</h4>{{ end }}
                </div>
                <div class="col">
                    <div class="progress-bar">
                        {{ with (dict "level" .level "subtitle" .subtitle) }}<p style="width: {{ .level }}%">{{ .subtitle }}</p>{{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
	        </div>

			<div class="col-lg-6">
            {{ with $data.skills.langTitle }}<h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h2>{{ end }}
            {{ with $data.skills.langSubTitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">{{ . }}</p>{{ end }}

            {{ range $data.skills.langItem }}
            <div class="row skills-parts">
                {{ with (dict "icon" .icon "title" .title) }}
                <div class="block wow fadeInUp animated col-1 skill-item lang-item" data-wow-duration="400ms" data-wow-delay="600ms">
                    <img src="{{ .icon }}" alt="{{ .title }}" >
                </div>
                <div class="block wow fadeInUp animated col-3 skill-item" data-wow-duration="400ms" data-wow-delay="600ms">
                    <h4 class="wow fadeInUp animated">{{ .title }}</h4>
                </div>
                {{ end }}
                <div class="col">
                    <div class="progress-bar">
                        {{ with (dict "level" .level "subtitle" .subtitle) }}<p class="lang" style="width: {{ .level }}%">{{ .subtitle }}</p>{{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
	        </div>
	    </div>
	</div>
</section>
{{ partial "cv.html" . }}

{{ end }}