{{ define "main" }}
<section id="blog-full-width">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ range .Data.Pages }}
                <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                    
                    <div class="blog-post-image">
                        <a href="{{ .Permalink }}">
                             {{ with .Params.image }}<img class="img-fluid" src="{{ . | absURL }}" alt="post-image"/>{{ end }}
                        </a>
                    </div>
                    <div class="blog-content">
                        <h2 class="blogpost-title">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h2>
                        <div class="blog-meta">
                            <span>{{ .Type }}</span>
                            <span>{{ if ne .Params.tags nil }}{{ delimit .Params.tags ", " }}{{ end }}</span>
                        </div>
                        <p>
                            {{ .Summary }}
                        </p>
                        {{ with (dict "Permalink" .Permalink "Next" .Site.Params.blogNext) }}<a href="{{ .Permalink }}" class="btn btn-dafault btn-details hvr-bounce-to-right">{{ .Next }}</a>{{ end }}
                    </div>
                </article>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ partial "social.html" . }}

{{ end }}