@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Glegoo);

:root {
  --background-color: #ffffff;
  --grey-color: #F7F7F7;
  --text-color: #444;
  --text-color-light: #727272;
  --text-color-dark: #222222;
  --primary-color: #f4a261;
  --primary-color-dark: #e76f51;
  --primary-color-light: #e9c46a;
  --secondary-color: #2A9D8F;
  --secondary-color-dark: #375d8a;
  --secondary-color-light: #90cada;
  --failure-color: #D8000C;
  --success-color: #6CB670;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
}

h2 {
  font-size: 26px;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 22px;
  font-size: 18px;
  font-weight: 300;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: var(--background-color);
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.logo {
  width: 150px;
}

.hvr-bounce-to-right:before {
  background: var(--secondary-color-dark);
}

.is-visible {
  text-align: center;
}

#submit {
  text-align: center;
}

.slick-slide:focus {
  outline: 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 65px;
}

.section-heading p {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color-light);
  line-height: 20px;
}

.title {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 300;
  color: var(--text-color-dark);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.subtitle-des {
  color: var(--text-color-light);
  font-size: 16px;
  margin-bottom: 35px;
  font-weight: 300;
}

.subtitle-tes {
  color: var(--text-color-light);
  font-size: 16px;
  font-weight: 300;
}

.pages {
  padding: 80px 0 40px;
}

.moduler {
  padding: 140px 0;
}

.social-share li {
  display: inline-block;
  margin: 3px 1px;
}

.social-share a {
  font-size: 20px;
  color: var(--background-color);
  background: var(--secondary-color);
  padding: 4px 10px;
  display: inline-block;
}

.about-social {
  margin-top: 20px;
}

.about-social a {
  color: var(--background-color);
  width: 100px;
}

.fancybox-close {
  background: url("../images/icons/close.png") no-repeat scroll 0 0 transparent;
  height: 50px;
  right: 0;
  top: 0;
  width: 50px;
}

.fancybox-next span {
  background: url("../images/icons/right.png") no-repeat scroll center center #009ee3;
  height: 50px;
  width: 50px;
  right: 0;
}

.fancybox-prev span {
  background: url("../images/icons/left.png") no-repeat scroll center center #009ee3;
  height: 50px;
  width: 50px;
  left: 0;
}

.fancybox-title {
  padding: 15px 8px;
}

.fancybox-title h3 {
  font-size: 15px;
  margin: 0;
}

.global-page-header {
  background-attachment: fixed;
  background-size: cover;
  padding: 120px 0 25px 0;
  position: relative;
  background: var(--secondary-color);
  color: var(--background-color);
}

.global-page-header h1 {
  font-size: 42px;
  font-weight: bold;
  color: var(--background-color);
  text-transform: uppercase;
}

.global-page-header .breadcrumb {
  background: none;
  font-size: 18px;
  padding: 8px 0;
  display: block;
}

.global-page-header .breadcrumb .active,
.global-page-header .breadcrumb li a {
  color: var(--background-color);
}

.global-page-header .block {
  position: relative;
  z-index: 9;
  text-align: center;
}

.works-fit {
  padding: 40px 0;
}

.works-fit figure .buttons {
  left: 14%;
}

.company-description {
  padding: 70px 0;
}

.company-description .block h3 {
  margin-top: 0;
}

.company-description .block p {
  color: var(--text-color-light);
}

/*=== MEDIA QUERY ===*/
.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--primary-color);
  color: var(--background-color);
  transition: all 0.2s ease-out 0s;
  padding: 15px 0;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.top-bar.animated-header {
  padding: 20px 0;
  background: var(--primary-color);
  box-shadow: none;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
}

.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar.bg-light {
  background: var(--primary-color) !important;
}

.navbar .nav-item .nav-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  transition: .3s all;
  text-transform: uppercase;
  padding: 5px 15px;
  display: block;
}

.current a {
  color: var(--background-color) !important;
}

.navbar .nav-item .nav-link:hover {
  color: var(--background-color) !important;
  transform: scale(1.1);
}

.navbar .nav-item:last-child .nav-link {
  padding-right: 0;
}

.navbar-toggler-icon:focus {
  outline: none;
}

.navbar-light .navbar-toggler {
  outline: none;
}

.dropdown-menu {
  background: var(--text-color-dark);;
  border: 0;
  border-radius: 0;
  padding: 15px;
  box-shadow: none;
  display: block;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  transform: scale(0.8);
  transition: visibility 500ms, opacity 500ms, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
}

@media (max-width: 991px) {
  .dropdown-menu {
    display: none;
    opacity: unset;
    visibility: unset;
    transform: scale(1);
  }
}

.dropdown-item {
  color: var(--background-color);
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  padding: 8px 0;
  transition: .3s all;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
  color: var(--secondary-color) !important;
  background: transparent;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

#hero-area {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 200px 0;
  color: var(--background-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

#hero-area:before {
  content: '';
  z-index: 9;
  background: rgba(255, 255, 255, 0.78);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#hero-area .block {
  position: relative;
  z-index: 9;
}

#hero-area h1 {
  font-size: 40px;
  line-height: 50px;
  color: var(--text-color-dark);
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
  text-transform: uppercase;
}

#hero-area h2 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 38px;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--text-color-light);
  font-family: 'Roboto', sans-serif;
  margin-top: 25px;
}

#hero-area .btn {
  background: var(--text-color);
  border: none;
  color: var(--background-color);
  padding: 20px 35px;
  margin-top: 30px;
  font-size: 18px;
  font-size: 13px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: normal;
  border-radius: 0;
}

#social {
  background: var(--secondary-color);
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0;
  text-align: center;
  position: relative;
  color: var(--background-color);
}

#social .block {
  position: relative;
  z-index: 9;
  color: var(--background-color);
}

#social .block h2 {
  margin-bottom: 30px;
  color: var(--background-color);
}

.call-to-action {
  background: var(--secondary-color-dark);
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0;
  text-align: center;
  position: relative;
  color: var(--background-color);
}

.call-to-action .block {
  position: relative;
  z-index: 9;
  color: var(--background-color);
}

.call-to-action .block h2 {
  margin-bottom: 15px;
  color: var(--background-color);
}

.call-to-action .block p {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

.call-to-action .block .btn-contact {
  background: var(--background-color);
  border: 2px solid var(--background-color);
  color: var(--secondary-color-dark);
  padding: 15px 34px;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 0;
  transition: all linear .2s;
}

.call-to-action .block .btn-contact i {
  margin-right: 10px;
}

.call-to-action .block .btn-contact:hover {
  font-weight: bold;
}

.call-to-action * a {
  margin-right: 15px;
}

#about {
  padding: 60px 0;
}

#about .block {
  padding: 20px 30px 0 30px;
}

#about .block h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#about .block p {
  color: var(--text-color-light);
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 35px;
}

#about .block img {
  max-width: 100%;
}

.about-image {
  border-radius: 50%;
}

.about-feature .block {
  color: var(--background-color);
  padding: 85px 65px;
  float: left;
}

.about-feature .block p {
  font-weight: 300;
}

.about-feature .about-feature-1 {
  background: var(--secondary-color);
}

.about-feature .about-feature-2 {
  background: var(--secondary-color-light);
}

.about-feature .about-feature-3 {
  background: var(--secondary-color-dark);
}

.works {
  padding: 80px 0;
  background: var(--background-color);
}

.works .block {
  position: relative;
  z-index: 99;
}

.works .block:hover .img-overly .overly {
  opacity: 1;
}

.works .block h4 {
  padding: 20px 15px;
  margin-top: 0;
  color: var(--text-color-light);
}

.works .block .img-overly {
  position: relative;
  background: rgba(0, 0, 0, 0.85);
}

.works .block .img-overly img {
  border-radius: 0;
}

.works .block .img-overly .overly {
  background: rgba(57, 181, 74, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: .3s all;
}

.works .block .img-overly .overly a {
  position: absolute;
  top: 45%;
  left: 22%;
}

.works .block .img-overly .overly a i {
  font-size: 30px;
  color: var(--background-color);
}

figure {
  background: var(--background-color);
  margin-bottom: 45px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
}

figure .img-wrapper {
  position: relative;
  overflow: hidden;
}

figure img {
  transform: scale3d(1, 1, 1);
  transition: transform 400ms;
}

figure:hover img {
  transform: scale3d(1.2, 1.2, 1);
}

figure:hover .overlay {
  opacity: 1;
}

figure:hover .overlay .buttons a {
  transform: scale3d(1, 1, 1);
}

figure .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 400ms;
}

figure .overlay a {
  display: inline-block;
  color: var(--background-color);
  padding: 10px 23px;
  line-height: 1;
  border: 1px solid var(--background-color);
  border-radius: 0px;
  margin: 4px;
  transform: scale3d(0, 0, 0);
  transition: all 400ms;
}

figure .overlay a:hover {
  text-decoration: none;
}

figure .overlay:hover a {
  transform: scale3d(1, 1, 1);
}

figure .buttons {
  margin-top: 40%;
  text-align: center;
  transform: translateY(-50%);
  display: inline-block;
}

figure .buttons a:hover {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

figure .buttons a:focus {
  text-decoration: none;
}

figure figcaption {
  padding: 20px 25px;
  margin-top: 0;
  color: var(--text-color-light);
}

figure figcaption h4 {
  margin: 0;
}

figure figcaption h4 a {
  color: var(--secondary-color);
}

figure figcaption p {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 5px;
}

#feature {
  padding-top: 80px;
}

#feature .media {
  margin: 0px 0 70px 0;
}

#feature .media .media-left {
  padding-right: 25px;
}

#feature h3 {
  color: var(--text-color-dark);;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin: 0px 0px 15px;
  font-weight: 400;
}

#feature p {
  line-height: 25px;
  font-size: 16px;
  color: var(--text-color-light);
}

#feature .icon {
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--secondary-color);
  height: 100px;
  text-align: center;
  width: 100px;
  font-size: 50px;
  line-height: 100px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-shadow: #000 1px 1px, #000 2px 2px, #000 3px 3px, #000 4px 4px, #000 5px 5px, #000 6px 6px, #000 7px 7px, #000 8px 8px, #000 9px 9px, #000 10px 10px, #000 11px 11px, #000 12px 12px, #000 13px 13px, #000 14px 14px, #000 15px 15px, #000 16px 16px, #000 17px 17px, #000 18px 18px, #000 19px 19px, #000 20px 20px, #000 21px 21px, #000 22px 22px, #000 23px 23px, #000 24px 24px, #000 25px 25px, #000 26px 26px, #000 27px 27px, #000 28px 28px, #000 29px 29px, #000 30px 30px, #000 31px 31px, #000 32px 32px, #000 33px 33px, #000 34px 34px, #000 35px 35px, #000 36px 36px, #000 37px 37px, #000 38px 38px, #000 39px 39px, #000 40px 40px, #000 41px 41px, #000 42px 42px, #000 43px 43px, #000 44px 44px, #000 45px 45px, #000 46px 46px, #000 47px 47px, #000 48px 48px, #000 49px 49px, #000 50px 50px, #000 51px 51px, #000 52px 52px, #000 53px 53px, #000 54px 54px, #000 55px 55px, #000 56px 56px, #000 57px 57px, #000 58px 58px, #000 59px 59px, #000 60px 60px, #000 61px 61px, #000 62px 62px, #000 63px 63px, #000 64px 64px, #000 65px 65px, #000 66px 66px, #000 67px 67px, #000 68px 68px, #000 69px 69px, #000 70px 70px, #000 71px 71px, #000 72px 72px, #000 73px 73px, #000 74px 74px, #000 75px 75px, #000 76px 76px, #000 77px 77px, #000 78px 78px, #000 79px 79px, #000 80px 80px, #000 81px 81px, #000 82px 82px, #000 83px 83px, #000 84px 84px, #000 85px 85px, #000 86px 86px, #000 87px 87px, #000 88px 88px, #000 89px 89px, #000 90px 90px, #000 91px 91px, #000 92px 92px, #000 93px 93px, #000 94px 94px, #000 95px 95px, #000 96px 96px, #000 97px 97px, #000 98px 98px, #000 99px 99px, #000 100px 100px;
}

.wrapper_404 h1 {
  font-size: 200px;
  color: var(--secondary-color);
  line-height: 1;
}

.wrapper_404 h2 {
  font-size: 50px;
  margin-top: 0;
}

.wrapper_404 .btn-home {
  background: var(--text-color);
  border: none;
  color: var(--background-color);
  padding: 20px 35px;
  margin-top: 10px;
  font-size: 18px;
  font-size: 13px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: normal;
  border-radius: 0;
  transition: all linear .2s;
}

#blog-full-width {
  padding: 80px 0 80px;
}

article {
  padding: 30px 0;
}

.blog-content h2 {
  font-family: 'Roboto', sans-serif;
}

.blog-content h2 a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 30px;
}

.blog-content .blog-meta {
  color: var(--text-color-light);
  font-weight: 300;
  margin-bottom: 25px;
}

.blog-content .blog-meta span:after {
  content: '/';
  padding: 0 3px 0 6px;
}

.blog-content .blog-meta a {
  color: var(--text-color-light);
}

.blog-content .blog-meta p {
  margin-top: 20px;
}

.blog-content .btn-details {
  padding: 0;
  background: var(--secondary-color);
  color: var(--background-color);
  padding: 8px 18px;
  border-radius: 0;
  margin-top: 15px;
  border: 1px solid var(--background-color);
  box-shadow: 0px 0px 0px 1px var(--secondary-color);
  margin: 20px auto 0;
  display: block;
  width: fit-content;
}

.blog-post-image {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar {
  padding-top: 60px;
}

.sidebar .widget {
  margin-bottom: 40px;
  padding: 15px;
  border: 1px solid #dedede;
}

.sidebar .widget h3 {
  margin-top: 8px;
}

.sidebar .search input.form-control {
  border-right: 0;
  border-radius: 0;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}

.sidebar .search button {
  border-left: 0;
}

.sidebar .search button:hover {
  background: transparent;
}

.sidebar .author .author-img img {
  width: 90px;
  border-radius: 100%;
  margin-top: -40px;
  border: 3px solid var(--background-color);
}

.sidebar .author .author-bio p {
  font-size: 16px;
  color: var(--text-color-light);
}

.sidebar .categories ul li {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0;
  list-style: none;
}

.sidebar .categories ul li span.badge {
  float: right;
  background: transparent;
  color: var(--text-color);
  border: 1px solid #dedede;
  border-radius: 0;
}

.sidebar .categories ul li a {
  color: var(--text-color-light);
}

.sidebar .categories ul li:last-child {
  border-bottom: none;
}

.sidebar .recent-post ul li {
  margin: 20px 0;
}

.sidebar .recent-post ul li a {
  color: var(--text-color-light);
  font-size: 15px;
}

.sidebar .recent-post ul li a:hover {
  color: var(--secondary-color);
}

.sidebar .recent-post time {
  font-weight: 300;
  color: var(--text-color-light);
  font-size: 12px;
}

#clients {
  padding: 30px 0 60px;
}

#skills-section {
  margin-top: 50px;
  padding-top: 90px;
}

#experience-section {
  margin-top: 50px;
  padding-top: 90px;
}

.progress-bar {
  width: 100%;
  background-color: var(--background-color);
  height: 25px;
}

.progress-bar p {
  height: 100%;
  line-height: 25px;
  margin: 0;
  padding-left: 10px;
  background-color: var(--primary-color-light);
  color: var(--background-color);
  font-size: 16px;
  text-align: left;
}

.progress-bar .back {
  background-color: var(--primary-color-dark) !important;
}

.progress-bar .front {
  background-color: var(--primary-color) !important;
}

.progress-bar .mobile {
  background-color: var(--primary-color-light) !important;
}

.progress-bar .ops {
  background-color: var(--primary-color-dark) !important;
}

.progress-bar .ide {
  background-color: var(--primary-color) !important;
}

.progress-bar .lang {
  background-color: var(--primary-color) !important;
}

.skill-item h4 {
  font-size: 18px;
}

.form-group label {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-color-light);
}

#contact-section {
  margin-top: 50px;
  padding-top: 90px;
}

#contact-section .contact-form {
  margin-top: 42px;
}

#contact-section .contact-form .btn-send {
  color: var(--background-color);
  outline: none;
  background: var(--secondary-color);
  transition: all linear .2s;
  border-color: var(--secondary-color);
  border-radius: 0;
}

#contact-section input {
  display: block;
  height: 40px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.428571429;
  background-color: var(--background-color);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 1px;
  border: 1px solid rgba(111, 121, 122, 0.3);
  box-shadow: none;
  -webkit-box-shadow: none;
}

#contact-section textarea {
  display: block;
  border-radius: 0;
  width: 100%;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  color: var(--text-color-light);
  background-color: var(--background-color);
  background-image: none;
  border: 1px solid #cccccc;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#contact-section .address,
#contact-section .email,
#contact-section .phone {
  text-align: center;
  background: var(--grey-color);
  padding: 20px 0 40px 0;
  margin-bottom: 20px;
}

#contact-section .address i,
#contact-section .email i,
#contact-section .phone i {
  font-size: 45px;
  color: var(--secondary-color);
}

#contact-section .address h5,
#contact-section .email h5,
#contact-section .phone h5 {
  font-size: 18px;
  line-height: 1.4;
}

#contact-section .address h5 a,
#contact-section .email h5 a,
#contact-section .phone h5 a {
  color: var(--text-color-dark);
}

#contact-section .address-details {
  padding-top: 70px;
}

#legal-section {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 90px;
}

#legal-section h2 {
  line-height: 1.4;
  color: var(--primary-color-dark);
}

#legal-section h3 {
  font-size: 20px;
  color: var(--secondary-color);
}

#legal-section h5 {
  font-size: 18px;
  color: var(--secondary-color-dark);
}

.legal-list li {
  list-style: inside;
}

.legal-address {
  text-align: center;
  color: var(--text-color-light);
  margin-bottom: 15px;
}

.legal-address h5 {
  font-size: 18px;
}

.legal-link {
  color: var(--primary-color);
}

.legal-link:hover {
  color: var(--primary-color-dark);
  transform: scale(1.05);
  display: inline-block;
}

#map-canvas {
  width: 100%;
  height: 350px;
  background-color: var(--background-color);
}

.map {
  margin-top: -5px;
}

.error {
  padding: 10px;
  color: var(--failure-color);
  border-radius: 2px;
  font-size: 16px;
}

.success {
  border-radius: 2px;
  color: var(--success-color);
  font-size: 16px;
  padding: 10px;
}

#error,
#success {
  display: none;
  margin-bottom: 10px;
}

.gallery {
  padding: 100px;
}

.gallery figure .buttons {
  left: 40%;
}

.portfolio-meta span {
  margin: 5px 10px;
  font-weight: 300;
}

.portfolio-meta span a {
  color: var(--background-color);
}

.single-post {
  padding: 80px 0 20px;
}

.single-post .post-content {
  padding: 40px 0;
}

.post-content blockquote p {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

.post-content p {
  margin: 20px 0;
}

.post-content h2 {
  margin: 40px 0 25px;
  color: var(--secondary-color);
}

.post-content hr {
  margin: 40px auto;
  border-top: 1px solid var(--secondary-color);
  text-align: center;
  width: 80%;
}

.post-button {
  text-align: center;
}

.single-post .post-content ol li,
.single-post .post-content ul li {
  color: var(--text-color-light);
}

.single-post .media {
  border: 1px solid #dedede;
  padding: 30px 20px;
}

.single-post .media .media-body a {
  color: var(--secondary-color);
  font-size: 12px;
}

.single-post .media .media {
  border: none;
}

.single-post .comments {
  margin-top: 40px;
}

.single-post .post-comment {
  margin-top: 40px;
}

.single-post .post-comment h3 {
  margin-bottom: 15px;
}

.single-post .post-comment .form-control {
  box-shadow: none;
  border-radius: 0;
}

.single-post .post-comment .btn-send {
  background: var(--secondary-color);
  color: var(--background-color);
  border-radius: 0;
}

/* portfolio single */
.work-single {
  padding: 100px 0 20px;
}

.work-single h3 {
  font-size: 30px;
  margin-bottom: 25px;
}

.work-single-image {
  margin-bottom: 35px;
}

.work-single-content p {
  margin-bottom: 30px;
}

.work-single blockquote {
  margin-bottom: 30px;
  padding: 30px 25px;
  background: var(--background-color);
  color: var(--text-color-light);
}

.work-single blockquote p {
  margin-bottom: 0;
}

.work-single-sidebar {
  background: var(--background-color);
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  padding: 30px 25px;
}

.work-single-sidebar h5 {
  margin-bottom: 8px;
}

.work-single-sidebar h6 {
  margin-bottom: 20px;
}

.btn-work {
  color: var(--background-color);
  background: var(--secondary-color);
  border-radius: 0;
}

#product-showcase-banner {
  padding-top: 160px;
}

#product-showcase-banner .block {
  padding: 20px 0 20px 50px;
}

#product-showcase-banner .block h2 {
  font-size: 40px;
  color: var(--secondary-color);
  margin-bottom: 20px;
  margin-top: 0;
}

#product-showcase-banner .block p {
  color: var(--text-color-light);
  line-height: 25px;
}

#product-showcase-banner .block .buttons {
  margin-top: 25px;
}

#product-showcase-banner .block .buttons .btn {
  color: var(--background-color);
  border: none;
  padding: 12px 40px;
  transition: .2s all;
  letter-spacing: 2px;
  font-size: 15px;
}

#product-showcase-banner .block .buttons .btn-demo {
  background: var(--success-color);
  margin-right: 8px;
  border-bottom: 3px solid #429E38;
}

#product-showcase-banner .block .buttons .btn-demo:hover {
  transform: scale(1.25);
}

#product-showcase-banner .block .buttons .btn-buy {
  background: var(--secondary-color-dark);
  border-bottom: 3px solid #0190B5;
}

#product-showcase-banner .block .buttons .btn-buy:hover {
  transform: scale(1.25);
}

#product-showcase-banner .block .buttons .btn-buy span {
  margin-right: 8px;
  font-weight: bold;
}

#product-description {
  padding-top: 80px;
}

#product-description .block {
  height: 400px;
  overflow: hidden;
  margin-top: 35px;
  border-bottom: 1px solid #dedede;
  padding-top: 30px;
  position: relative;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

#product-description .block:hover img {
  transform: translateY(20px);
}

#product-description .block img {
  position: absolute;
  top: 10px;
  left: 0;
  transform: translateY(60px);
  transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#product-description .block .content {
  width: 60%;
  padding-top: 70px;
}

#product-description .block .content h3 {
  font-size: 32px;
  color: var(--text-color);
}

#product-description .block .content p {
  color: var(--text-color);
  line-height: 25px;
}

#related-items {
  padding: 60px 0 110px;
}

#related-items .title {
  border-bottom: 1px solid #dedede;
  padding: 10px 0;
  margin: 5px 15px 30px 15px;
  text-align: left;
  color: var(--text-color-light);
}

#related-items .product-details {
  margin-bottom: 0;
}

#related-items .block {
  position: relative;
  background: var(--background-color);
  margin-bottom: 45px;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.14);
}

#related-items .block:hover .img-overly .overly {
  opacity: 1;
}

#related-items .block h4 {
  padding: 20px 15px;
  margin-top: 0;
  color: var(--text-color-light);
}

#related-items .block h4 span {
  float: right;
  color: var(--secondary-color);
}

#related-items .block .img-overly {
  position: relative;
  background: rgba(0, 0, 0, 0.85);
}

#related-items .block .img-overly img {
  border-radius: 0;
}

#related-items .block .img-overly .overly {
  background: rgba(57, 181, 74, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: .3s all;
}

#related-items .block .img-overly .overly a {
  position: absolute;
  top: 45%;
  left: 45%;
}

#related-items .block .img-overly .overly a i {
  font-size: 30px;
  color: var(--background-color);
}

.service-page .service-parts .block {
  margin-bottom: 40px;
  text-align: center;
}

.service-page .service-parts .block i {
  font-size: 35px;
  color: var(--secondary-color);
}

.service-page .service-parts .block p {
  padding: 0 8px;
  font-size: 16px;
  color: var(--text-color-light);
  line-height: 1.7;
}

.skills-page .skills-parts {
  margin-bottom: 20px;
  height: 25px
}

.lang-item img {
  width: 30px;
  border: solid 1px var(--text-color-light);
}

.skills-row .col-lg-6 {
  margin-bottom: 20px;
}

.container-row {
  margin-bottom: 40px;
}

.experience-row {
  margin-bottom: 5px;
  padding: 15px;
}

.experience-row .col img {
  max-width: -webkit-fill-available;
  margin-top: 25px;
  margin-bottom: 15px;
}

.experience-row .col-4 p {
  font-size: 16px;
}

.experience-list li {
  padding-left: 10px;
  font-weight: 300;
}

.cdi * .experience-list li::before {
  color: var(--secondary-color);
}

.presta * .experience-list li::before {
  color: var(--primary-color-dark);
}

.freelance * .experience-list li::before {
  color: var(--primary-color);
}

.experience-page .container hr {
  width: 75%;
}

.experience-page .container img {
  max-height: 100px;
}

.freelance * .subtitle::before {
  content: "★ ";
  color: var(--primary-color);
}

.freelance .summary .subtitle-tes::before {
  content: "FREELANCE ";
  color: var(--primary-color);
  font-weight: bolder;
}

.presta * .subtitle::before {
  content: "★ ";
  color: var(--primary-color-dark);
}

.presta .summary .subtitle-tes::before {
  content: "MISSION ";
  color: var(--primary-color-dark);
  font-weight: bolder;
}

.cdi * .subtitle::before {
  content: "★ ";
  color: var(--secondary-color);
}

.cdi .summary .subtitle-tes::before {
  content: "CDI ";
  color: var(--secondary-color);
  font-weight: bolder;
}

#team {
  margin: 50px 0;
}

.team-member {
  margin-top: 30px;
}

.team-member:hover .team-img img {
  opacity: .8;
}

.team-member .team-img {
  position: relative;
  margin-bottom: 20px;
}

.team-member .team-img .team-pic {
  width: 100%;
}

.team-member .team_designation {
  font-size: 13px;
}

.team-member h3 {
  color: var(--secondary-color);
  margin-bottom: 0;
  font-size: 20px;
}

.team-member p {
  font-size: 16px;
}

.team-member .social-icons a {
  background: var(--secondary-color);
  color: var(--background-color);
  padding: 4px 8px;
  display: inline-block;
  font-size: 15px;
}

.team-member .social-icons .facebook {
  padding: 4px 12px;
}

.social-icon i::before {
  font-size: 40px;
  margin: 5px;
}

.social-icon i:hover::before {
  transform: scale(1.25);
}

.social .social-icon i::before {
  font-size: 20px;
  margin: 5px;
}

@media only screen and (max-width: 450px) {
  .social-icon i::before {
    font-size: 30px;
    margin: 1px;
  }

  .block h4 {
    font-size: 16px;
  }
}

#footer {
  background: var(--background-color);
  padding: 25px 0;
  color: var(--text-color-light);
}

#footer .copyright {
  font-size: 15px;
  margin-bottom: 0;
}

#footer .copyright a {
  color: var(--secondary-color);
}

#footer .social {
  text-align: right;
  margin-bottom: 0;
}

#footer .social li {
  display: inline-block;
  margin-right: 15px;
}

#footer .social li a {
  font-size: 22px;
  color: var(--secondary-color);
}

.cd-headline.slide .cd-words-wrapper {
  color: var(--secondary-color);
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}

ul.social-icons {
  height: auto;
  overflow: hidden;
  list-style: none !important;
  margin-bottom: 10px;
}

ul.social-icons li {
  float: none;
  display: inline-block;
  height: 36px;
}

#copyright a:hover,
#copyright nav .menu li a:hover {
  color: var(--background-color) !important;
}

#copyright a {
  text-decoration: none;
}

#copyright a:hover {
  text-decoration: none;
}

/*# sourceMappingURL=maps/style.css.map */
