{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.cv.enable }}
{{ "<!-- Call To Action Section Start -->" | safeHTML }}
<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    {{ with $data.cv.title }}<h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h1>{{ end }}
                    {{ with $data.cv.content }}<p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">{{ . | safeHTML }}</p>{{ end }}
                    <a href="{{ $data.cv.full }}" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms" target="_blank">{{ $data.cv.fullText }}</a>
                    <a href="{{ $data.cv.lite }}" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms" target="_blank">{{ $data.cv.liteText }}</a>
                </div>
            </div>

        </div>
    </div>
</section>
{{ "<!-- Call To Action Section End -->" | safeHTML }}
{{ end }}