{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.contact.enable }}
{{ "<!-- Contact Section Start -->" | safeHTML }}
<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <div class="block">
                    {{ with $data.contact.contactFormTitle }}<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
                    {{ with $data.contact.contactFormSubtitle }}<p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
                    <div class="contact-form">
                        <form id="contact-form" method="POST" action="{{ .Site.Params.contactFormAction }}">

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                                {{ with $data.contact.nameForm }}<label for="name">{{ . }}</label>{{ end }}
                                <input type="text" placeholder="Jean Dupont" class="form-control" name="name" id="name" required>
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                                <label for="email">E-mail</label>
                                <input type="email" placeholder="jean.dupont@dmail.com" class="form-control" name="email" id="email" required>
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                                {{ with $data.contact.messageForm }}<label for="message">{{ . }}</label>{{ end }}
                                {{ with $data.contact.messagePlaceholderForm }}<textarea rows="7" placeholder="{{ . }}" class="form-control" name="message" id="message" required></textarea>{{ end }}
                            </div>

                            <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                                <button type="submit" id="contact-submit" class="btn btn-default btn-send hvr-bounce-to-right" value="Send Message">ENVOYER</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map-area">
                    {{ with $data.contact.mapTitle }}<h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
                    {{ with $data.contact.mapSubtitle }}<p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
                    <div class="map">
                        <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=5+rue+Snellius+(Agn%C3%A8s%20M.)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                            width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row address-details">
            <div class="col-lg-4 col-sm-6">
                <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                    <i class="ion-ios-location-outline"></i>
                    {{ with $data.contact.officeAddress }}<h5><a href="https://www.google.com/maps/place/{{ . }}" target="_blank">{{ . }}</h5></a>{{ end }}
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                    <i class="ion-ios-email-outline"></i>
                    {{ with $data.contact.mail }}<h5><a href="mailto:{{ . }}" target="_blank">{{ . }}</a></h5>{{ end }}
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                    <i class="ion-ios-telephone-outline"></i>
                    {{ with $data.contact.phone }}<h5><a href="tel:{{ . }}" target="_blank">{{ . }}</a></h5>{{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Contact Section End -->" | safeHTML }}
{{ end }}

{{ partial "social.html" . }}

{{ end }}